<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Api Docs</title>
    <!-- twbs 3.3.5 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <style media="screen">
      .request .method {
        text-transform: capitalize;
        font-weight: bold;
      }
      .request .headers {
        white-space: normal;
      }
    </style>

  </head>
  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">API Docs</h1>
        </div>
      </div>
      <%= for test <- tests do %>
        <div class="test-case row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><%= test.test_name %></h2>
              </div>
              <div class="panel-body">
                <h4>Request</h4>
                <div class="request">
                  <h5>Path</h5>
                  <div>
                    <kbd class="method"><%= test.request.method %></kbd> <samp class="path"><%= test.request.path %></samp>
                  </div>
                  <h5>Headers</h5>
                  <%= if Enum.count(test.request.headers) > 0 do %>
                  <%= for headers <- test.request.headers do %>
                  <pre class="headers">
                    <%= Enum.join(Tuple.to_list(headers), ": ") |> String.strip %>
                  </pre>
                  <% end %>
                  <% else %>
                  <pre>NONE</pre>
                  <% end %>
                  <%= if Map.size(test.request.params) > 0 do %>
                  <h5>Params</h5>
                  <pre class="json"><%= Poison.encode!(test.request.params, pretty: true) %></pre>
                  <% end %>
                </div>
                <hr>
                <h4>Response</h4>
                <div class="response">
                  <h5>Status</h5>
                  <div class="status">
                    <pre><%= test.response.status %></pre>
                  </div>
                  <%= if String.length(test.response.body) > 0 do %>
                  <h5>Body</h5>
                  <pre class="json"><%= test.response.body |> Poison.decode!() |> Poison.encode!(pretty: true) %></pre>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
